<html>
    <head>

<h1 style="text-align: center;background-color: rgb(187, 255, 0);">
    <p style="padding:25px;border: 2px solid black;font-family: Times New Roman, Times, serif;">
    Link Preview
</p>
</h1>       </head>


    <body><div style="height: 60%;background-color: rgb(194, 255, 80)">
        <p style="color: black;font-size: 1.7rem;letter-spacing: .2rem;line-height: 2.5rem;font-family: Times New Roman, Times, serif;word-wrap:break-word;height:40% ;padding-top: 10%;">
    The On which you want to go <a href="http://<%=Shorturl%>" style="word-wrap:break-word;" target="_blank"><%=Shorturl%></a> and the original Url of is <a href= "<%=longurl%>"><%=longurl%></a>
    which is <%=length%> characture long which we shorted . 
</p>
<p style="color: black;font-size: 1.7rem;letter-spacing: .2rem;line-height: 2.5rem;word-wrap:break-word;">
<button style="background: black;"><a href="<%=longurl%>" style="font-size: 2rem;color: rgb(200, 255, 0);">Are You Want to Continue</a></button>
</p></div>

</body>
</html>